.wrapper
  = render partial: "/shared/side"
  .main
    .main__header
      .group
        %h1.group__name 仲良しグループ
        %span.group__members Members: tsuruta, tanaka, suzuki
      %a.button(href="#" title="") Edit
    .main__body
      %ul.messages
        %li.message
          %span.message__name tanaka
          %span.message__date 2019/1/1 06:19:41
          %p.message__text message
        %li.message
          %span.message__name tanaka
          %span.message__date 2019/1/1 06:19:41
          %p.message__text message
        %li.message
          %span.message__name tanaka
          %span.message__date 2019/1/1 06:19:41
          %p.message__text message
    .main__footer
      = form_for @message, url: group_messages_path, html: { class: "post" } do |f|
        = f.text_field :body, placeholder: "type a message", class: "post__text"
        %label
          = f.file_field :image, style: "display:none"
          %i.fa.fa-picture-o.post__image-icon
        = f.submit "Send", class: "post__submit"
